<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-sys-permission-heading"
        data-cy="SysPermissionCreateUpdateHeading"
        jhiTranslate="baseFrameWorkApp.sysPermission.home.createOrEditLabel"
      >
        Create or edit a Sys Permission
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="baseFrameWorkApp.sysPermission.id" for="field_id">Id</label>
          <input
            type="text"
            class="form-control"
            name="id"
            id="field_id"
            data-cy="id"
            formControlName="id"
            [readonly]="editForm.get('id')!.value != null"
          />
          <div *ngIf="editForm.get('id')!.invalid && (editForm.get('id')!.dirty || editForm.get('id')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('id')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="baseFrameWorkApp.sysPermission.parentId" for="field_parentId">Parent Id</label>
          <input type="text" class="form-control" name="parentId" id="field_parentId" data-cy="parentId" formControlName="parentId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="baseFrameWorkApp.sysPermission.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="baseFrameWorkApp.sysPermission.url" for="field_url">Url</label>
          <input type="text" class="form-control" name="url" id="field_url" data-cy="url" formControlName="url" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="baseFrameWorkApp.sysPermission.component" for="field_component">Component</label>
          <input type="text" class="form-control" name="component" id="field_component" data-cy="component" formControlName="component" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="baseFrameWorkApp.sysPermission.isRoute" for="field_isRoute">Is Route</label>
          <input type="checkbox" class="form-check" name="isRoute" id="field_isRoute" data-cy="isRoute" formControlName="isRoute" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="baseFrameWorkApp.sysPermission.componentName" for="field_componentName"
            >Component Name</label
          >
          <input
            type="text"
            class="form-control"
            name="componentName"
            id="field_componentName"
            data-cy="componentName"
            formControlName="componentName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="baseFrameWorkApp.sysPermission.redirect" for="field_redirect">Redirect</label>
          <input type="text" class="form-control" name="redirect" id="field_redirect" data-cy="redirect" formControlName="redirect" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="baseFrameWorkApp.sysPermission.menuType" for="field_menuType">Menu Type</label>
          <input type="number" class="form-control" name="menuType" id="field_menuType" data-cy="menuType" formControlName="menuType" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="baseFrameWorkApp.sysPermission.perms" for="field_perms">Perms</label>
          <input type="text" class="form-control" name="perms" id="field_perms" data-cy="perms" formControlName="perms" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="baseFrameWorkApp.sysPermission.permsType" for="field_permsType">Perms Type</label>
          <input type="text" class="form-control" name="permsType" id="field_permsType" data-cy="permsType" formControlName="permsType" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="baseFrameWorkApp.sysPermission.sortNo" for="field_sortNo">Sort No</label>
          <input type="text" class="form-control" name="sortNo" id="field_sortNo" data-cy="sortNo" formControlName="sortNo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="baseFrameWorkApp.sysPermission.alwaysShow" for="field_alwaysShow">Always Show</label>
          <input
            type="checkbox"
            class="form-check"
            name="alwaysShow"
            id="field_alwaysShow"
            data-cy="alwaysShow"
            formControlName="alwaysShow"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="baseFrameWorkApp.sysPermission.icon" for="field_icon">Icon</label>
          <input type="text" class="form-control" name="icon" id="field_icon" data-cy="icon" formControlName="icon" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="baseFrameWorkApp.sysPermission.isLeaf" for="field_isLeaf">Is Leaf</label>
          <input type="checkbox" class="form-check" name="isLeaf" id="field_isLeaf" data-cy="isLeaf" formControlName="isLeaf" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="baseFrameWorkApp.sysPermission.keepAlive" for="field_keepAlive">Keep Alive</label>
          <input type="checkbox" class="form-check" name="keepAlive" id="field_keepAlive" data-cy="keepAlive" formControlName="keepAlive" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="baseFrameWorkApp.sysPermission.hidden" for="field_hidden">Hidden</label>
          <input type="checkbox" class="form-check" name="hidden" id="field_hidden" data-cy="hidden" formControlName="hidden" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="baseFrameWorkApp.sysPermission.hideTab" for="field_hideTab">Hide Tab</label>
          <input type="checkbox" class="form-check" name="hideTab" id="field_hideTab" data-cy="hideTab" formControlName="hideTab" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="baseFrameWorkApp.sysPermission.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="baseFrameWorkApp.sysPermission.delFlag" for="field_delFlag">Del Flag</label>
          <input type="checkbox" class="form-check" name="delFlag" id="field_delFlag" data-cy="delFlag" formControlName="delFlag" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="baseFrameWorkApp.sysPermission.ruleFLag" for="field_ruleFLag">Rule F Lag</label>
          <input type="checkbox" class="form-check" name="ruleFLag" id="field_ruleFLag" data-cy="ruleFLag" formControlName="ruleFLag" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="baseFrameWorkApp.sysPermission.createBy" for="field_createBy">Create By</label>
          <input type="text" class="form-control" name="createBy" id="field_createBy" data-cy="createBy" formControlName="createBy" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="baseFrameWorkApp.sysPermission.createTime" for="field_createTime">Create Time</label>
          <div class="input-group">
            <input
              id="field_createTime"
              data-cy="createTime"
              type="text"
              class="form-control"
              name="createTime"
              ngbDatepicker
              #createTimeDp="ngbDatepicker"
              formControlName="createTime"
            />
            <button type="button" class="btn btn-secondary" (click)="createTimeDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="baseFrameWorkApp.sysPermission.updateBy" for="field_updateBy">Update By</label>
          <input type="text" class="form-control" name="updateBy" id="field_updateBy" data-cy="updateBy" formControlName="updateBy" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="baseFrameWorkApp.sysPermission.updateTime" for="field_updateTime">Update Time</label>
          <div class="input-group">
            <input
              id="field_updateTime"
              data-cy="updateTime"
              type="text"
              class="form-control"
              name="updateTime"
              ngbDatepicker
              #updateTimeDp="ngbDatepicker"
              formControlName="updateTime"
            />
            <button type="button" class="btn btn-secondary" (click)="updateTimeDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="baseFrameWorkApp.sysPermission.tenantId" for="field_tenantId">Tenant Id</label>
          <input type="text" class="form-control" name="tenantId" id="field_tenantId" data-cy="tenantId" formControlName="tenantId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="baseFrameWorkApp.sysPermission.internalOrExternal" for="field_internalOrExternal"
            >Internal Or External</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="internalOrExternal"
            id="field_internalOrExternal"
            data-cy="internalOrExternal"
            formControlName="internalOrExternal"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
