<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-sys-log-heading" data-cy="SysLogCreateUpdateHeading" jhiTranslate="baseFrameWorkApp.sysLog.home.createOrEditLabel">
        Create or edit a Sys Log
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="baseFrameWorkApp.sysLog.id" for="field_id">Id</label>
          <input
            type="text"
            class="form-control"
            name="id"
            id="field_id"
            data-cy="id"
            formControlName="id"
            [readonly]="editForm.get('id')!.value != null"
          />
          <div *ngIf="editForm.get('id')!.invalid && (editForm.get('id')!.dirty || editForm.get('id')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('id')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="baseFrameWorkApp.sysLog.logType" for="field_logType">Log Type</label>
          <input type="number" class="form-control" name="logType" id="field_logType" data-cy="logType" formControlName="logType" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="baseFrameWorkApp.sysLog.logContent" for="field_logContent">Log Content</label>
          <input
            type="text"
            class="form-control"
            name="logContent"
            id="field_logContent"
            data-cy="logContent"
            formControlName="logContent"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="baseFrameWorkApp.sysLog.operateType" for="field_operateType">Operate Type</label>
          <input
            type="text"
            class="form-control"
            name="operateType"
            id="field_operateType"
            data-cy="operateType"
            formControlName="operateType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="baseFrameWorkApp.sysLog.userName" for="field_userName">User Name</label>
          <input type="text" class="form-control" name="userName" id="field_userName" data-cy="userName" formControlName="userName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="baseFrameWorkApp.sysLog.ip" for="field_ip">Ip</label>
          <input type="text" class="form-control" name="ip" id="field_ip" data-cy="ip" formControlName="ip" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="baseFrameWorkApp.sysLog.method" for="field_method">Method</label>
          <input type="text" class="form-control" name="method" id="field_method" data-cy="method" formControlName="method" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="baseFrameWorkApp.sysLog.requestUrl" for="field_requestUrl">Request Url</label>
          <input
            type="text"
            class="form-control"
            name="requestUrl"
            id="field_requestUrl"
            data-cy="requestUrl"
            formControlName="requestUrl"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="baseFrameWorkApp.sysLog.requestParam" for="field_requestParam">Request Param</label>
          <input
            type="text"
            class="form-control"
            name="requestParam"
            id="field_requestParam"
            data-cy="requestParam"
            formControlName="requestParam"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="baseFrameWorkApp.sysLog.requestType" for="field_requestType">Request Type</label>
          <input
            type="text"
            class="form-control"
            name="requestType"
            id="field_requestType"
            data-cy="requestType"
            formControlName="requestType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="baseFrameWorkApp.sysLog.costTime" for="field_costTime">Cost Time</label>
          <input type="number" class="form-control" name="costTime" id="field_costTime" data-cy="costTime" formControlName="costTime" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="baseFrameWorkApp.sysLog.createBy" for="field_createBy">Create By</label>
          <input type="text" class="form-control" name="createBy" id="field_createBy" data-cy="createBy" formControlName="createBy" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="baseFrameWorkApp.sysLog.createTime" for="field_createTime">Create Time</label>
          <div class="input-group">
            <input
              id="field_createTime"
              data-cy="createTime"
              type="text"
              class="form-control"
              name="createTime"
              ngbDatepicker
              #createTimeDp="ngbDatepicker"
              formControlName="createTime"
            />
            <button type="button" class="btn btn-secondary" (click)="createTimeDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="baseFrameWorkApp.sysLog.updateBy" for="field_updateBy">Update By</label>
          <input type="text" class="form-control" name="updateBy" id="field_updateBy" data-cy="updateBy" formControlName="updateBy" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="baseFrameWorkApp.sysLog.updateTime" for="field_updateTime">Update Time</label>
          <div class="input-group">
            <input
              id="field_updateTime"
              data-cy="updateTime"
              type="text"
              class="form-control"
              name="updateTime"
              ngbDatepicker
              #updateTimeDp="ngbDatepicker"
              formControlName="updateTime"
            />
            <button type="button" class="btn btn-secondary" (click)="updateTimeDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="baseFrameWorkApp.sysLog.tenantId" for="field_tenantId">Tenant Id</label>
          <input type="text" class="form-control" name="tenantId" id="field_tenantId" data-cy="tenantId" formControlName="tenantId" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
