<div>
  <h2 id="page-heading" data-cy="SysPermissionDataRuleHeading">
    <span jhiTranslate="baseFrameWorkApp.sysPermissionDataRule.home.title">Sys Permission Data Rules</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="baseFrameWorkApp.sysPermissionDataRule.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sys-permission-data-rule"
        [routerLink]="['/sys-permission-data-rule/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="baseFrameWorkApp.sysPermissionDataRule.home.createLabel"> Create a new Sys Permission Data Rule </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="sysPermissionDataRules?.length === 0">
    <span jhiTranslate="baseFrameWorkApp.sysPermissionDataRule.home.notFound">No Sys Permission Data Rules found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="sysPermissionDataRules && sysPermissionDataRules.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysPermissionDataRule.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="permissionId">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysPermissionDataRule.permissionId">Permission Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ruleName">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysPermissionDataRule.ruleName">Rule Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ruleColumn">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysPermissionDataRule.ruleColumn">Rule Column</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ruleCOnditions">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysPermissionDataRule.ruleCOnditions">Rule C Onditions</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ruleValue">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysPermissionDataRule.ruleValue">Rule Value</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysPermissionDataRule.status">Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createBy">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysPermissionDataRule.createBy">Create By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createTime">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysPermissionDataRule.createTime">Create Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="updateBy">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysPermissionDataRule.updateBy">Update By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="updateTime">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysPermissionDataRule.updateTime">Update Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tenantId">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysPermissionDataRule.tenantId">Tenant Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sysPermissionDataRule of sysPermissionDataRules; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/sys-permission-data-rule', sysPermissionDataRule.id, 'view']">{{ sysPermissionDataRule.id }}</a>
          </td>
          <td>{{ sysPermissionDataRule.permissionId }}</td>
          <td>{{ sysPermissionDataRule.ruleName }}</td>
          <td>{{ sysPermissionDataRule.ruleColumn }}</td>
          <td>{{ sysPermissionDataRule.ruleCOnditions }}</td>
          <td>{{ sysPermissionDataRule.ruleValue }}</td>
          <td>{{ sysPermissionDataRule.status }}</td>
          <td>{{ sysPermissionDataRule.createBy }}</td>
          <td>{{ sysPermissionDataRule.createTime | formatMediumDate }}</td>
          <td>{{ sysPermissionDataRule.updateBy }}</td>
          <td>{{ sysPermissionDataRule.updateTime | formatMediumDate }}</td>
          <td>{{ sysPermissionDataRule.tenantId }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/sys-permission-data-rule', sysPermissionDataRule.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/sys-permission-data-rule', sysPermissionDataRule.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(sysPermissionDataRule)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="sysPermissionDataRules && sysPermissionDataRules.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
