<div>
  <h2 id="page-heading" data-cy="SysPermissionHeading">
    <span jhiTranslate="baseFrameWorkApp.sysPermission.home.title">Sys Permissions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="baseFrameWorkApp.sysPermission.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sys-permission"
        [routerLink]="['/sys-permission/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="baseFrameWorkApp.sysPermission.home.createLabel"> Create a new Sys Permission </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="sysPermissions?.length === 0">
    <span jhiTranslate="baseFrameWorkApp.sysPermission.home.notFound">No Sys Permissions found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="sysPermissions && sysPermissions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysPermission.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="parentId">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysPermission.parentId">Parent Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysPermission.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="url">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysPermission.url">Url</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="component">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysPermission.component">Component</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isRoute">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysPermission.isRoute">Is Route</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="componentName">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysPermission.componentName">Component Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="redirect">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysPermission.redirect">Redirect</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="menuType">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysPermission.menuType">Menu Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="perms">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysPermission.perms">Perms</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="permsType">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysPermission.permsType">Perms Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sortNo">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysPermission.sortNo">Sort No</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="alwaysShow">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysPermission.alwaysShow">Always Show</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="icon">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysPermission.icon">Icon</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isLeaf">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysPermission.isLeaf">Is Leaf</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="keepAlive">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysPermission.keepAlive">Keep Alive</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="hidden">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysPermission.hidden">Hidden</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="hideTab">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysPermission.hideTab">Hide Tab</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysPermission.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="delFlag">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysPermission.delFlag">Del Flag</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ruleFLag">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysPermission.ruleFLag">Rule F Lag</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createBy">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysPermission.createBy">Create By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createTime">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysPermission.createTime">Create Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="updateBy">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysPermission.updateBy">Update By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="updateTime">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysPermission.updateTime">Update Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tenantId">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysPermission.tenantId">Tenant Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="internalOrExternal">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysPermission.internalOrExternal">Internal Or External</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sysPermission of sysPermissions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/sys-permission', sysPermission.id, 'view']">{{ sysPermission.id }}</a>
          </td>
          <td>{{ sysPermission.parentId }}</td>
          <td>{{ sysPermission.name }}</td>
          <td>{{ sysPermission.url }}</td>
          <td>{{ sysPermission.component }}</td>
          <td>{{ sysPermission.isRoute }}</td>
          <td>{{ sysPermission.componentName }}</td>
          <td>{{ sysPermission.redirect }}</td>
          <td>{{ sysPermission.menuType }}</td>
          <td>{{ sysPermission.perms }}</td>
          <td>{{ sysPermission.permsType }}</td>
          <td>{{ sysPermission.sortNo }}</td>
          <td>{{ sysPermission.alwaysShow }}</td>
          <td>{{ sysPermission.icon }}</td>
          <td>{{ sysPermission.isLeaf }}</td>
          <td>{{ sysPermission.keepAlive }}</td>
          <td>{{ sysPermission.hidden }}</td>
          <td>{{ sysPermission.hideTab }}</td>
          <td>{{ sysPermission.description }}</td>
          <td>{{ sysPermission.delFlag }}</td>
          <td>{{ sysPermission.ruleFLag }}</td>
          <td>{{ sysPermission.createBy }}</td>
          <td>{{ sysPermission.createTime | formatMediumDate }}</td>
          <td>{{ sysPermission.updateBy }}</td>
          <td>{{ sysPermission.updateTime | formatMediumDate }}</td>
          <td>{{ sysPermission.tenantId }}</td>
          <td>{{ sysPermission.internalOrExternal }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/sys-permission', sysPermission.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/sys-permission', sysPermission.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(sysPermission)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="sysPermissions && sysPermissions.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
