<div>
  <h2 id="page-heading" data-cy="SysDataLogHeading">
    <span jhiTranslate="baseFrameWorkApp.sysDataLog.home.title">Sys Data Logs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="baseFrameWorkApp.sysDataLog.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sys-data-log"
        [routerLink]="['/sys-data-log/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="baseFrameWorkApp.sysDataLog.home.createLabel"> Create a new Sys Data Log </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="sysDataLogs?.length === 0">
    <span jhiTranslate="baseFrameWorkApp.sysDataLog.home.notFound">No Sys Data Logs found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="sysDataLogs && sysDataLogs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysDataLog.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dataTable">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysDataLog.dataTable">Data Table</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dataId">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysDataLog.dataId">Data Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dataContent">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysDataLog.dataContent">Data Content</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dataVersion">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysDataLog.dataVersion">Data Version</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createBy">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysDataLog.createBy">Create By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createTime">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysDataLog.createTime">Create Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="updateBy">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysDataLog.updateBy">Update By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="updateTime">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysDataLog.updateTime">Update Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tenantId">
            <div class="d-flex">
              <span jhiTranslate="baseFrameWorkApp.sysDataLog.tenantId">Tenant Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sysDataLog of sysDataLogs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/sys-data-log', sysDataLog.id, 'view']">{{ sysDataLog.id }}</a>
          </td>
          <td>{{ sysDataLog.dataTable }}</td>
          <td>{{ sysDataLog.dataId }}</td>
          <td>{{ sysDataLog.dataContent }}</td>
          <td>{{ sysDataLog.dataVersion }}</td>
          <td>{{ sysDataLog.createBy }}</td>
          <td>{{ sysDataLog.createTime | formatMediumDate }}</td>
          <td>{{ sysDataLog.updateBy }}</td>
          <td>{{ sysDataLog.updateTime | formatMediumDate }}</td>
          <td>{{ sysDataLog.tenantId }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/sys-data-log', sysDataLog.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/sys-data-log', sysDataLog.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(sysDataLog)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="sysDataLogs && sysDataLogs.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
