<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="sysUserDepart">
      <h2 data-cy="sysUserDepartDetailsHeading"><span jhiTranslate="baseFrameWorkApp.sysUserDepart.detail.title">Sys User Depart</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="baseFrameWorkApp.sysUserDepart.id">Id</span></dt>
        <dd>
          <span>{{ sysUserDepart.id }}</span>
        </dd>
        <dt><span jhiTranslate="baseFrameWorkApp.sysUserDepart.userId">User Id</span></dt>
        <dd>
          <span>{{ sysUserDepart.userId }}</span>
        </dd>
        <dt><span jhiTranslate="baseFrameWorkApp.sysUserDepart.depID">Dep ID</span></dt>
        <dd>
          <span>{{ sysUserDepart.depID }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/sys-user-depart', sysUserDepart.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
